name: Bot
on: [push]
jobs:
  job:
    runs-on: ubuntu-latest
    name: bot
    steps:
      - name: run
        uses: actions/checkout@v3
        with:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}

      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}

      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ghcr.io/${{ github.actor }}/cloud:latest

      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.IP_ADDR }}
          username: student
          key: ${{ secrets.KEY }}
          script: whoami
